
/* DESING RESPONSIVE MODE*/

/* IPAD   768px */

@media  screen and (min-width: 48rem){
    
       
    #cabecera #logo{
        margin-top:2%;
    }
    
    .boton-nav{
        width: 4rem;
        height: 4rem;
    }

    .boton-nav i{
        font-size: 4rem;
    }
    
    
    
    
    #home .titulo{
        top: 50%;
    }
    
    .subtitulo1 {
        margin-top:8%;
        font-size : 3rem;
    }

    .titulo	.subtitulo2 {
        font-size : 2.5em;
    }
    
    
    
    #portafolio .contenedor-proyectos{
        width: 100%;
        height: 100%;
    }

    #portafolio .proyecto {
        width: 30%;
        margin-top:2%;
    }
    
    #portafolio .titulo{
        font-size: 2.5rem;
    }
    
    
    
    #servicios .subtitulo-servicios{
        font-size: 2rem;
    }
    
    #servicios .titulo{
        font-size: 2.5rem;
    }
        
    #servicios li{
        margin: 20% 1.5%;
    }

    #servicios li button{
        font-size: 2rem;
    }

    #servicios .iconos{
        font-size:6rem;
    }

    #servicios  li i{
        font-size: 2rem;
    }
    
    .modal {
        padding: 1.5rem;
    }

    .modal i{
        font-size: 2rem;
    }

    .modal h3{
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }

    .modal p{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
    
    
    #nosotros .titulo{
        font-size: 2.5rem;
    }
    
    #nosotros .images-equipo{
      width: 35vw;
      height: 25vh;
    }
    
    .images-equipo p {
        font-size: 2.5rem;
    }
    
      
      
    #contacto .titulo-contacto{
        font-size: 2.5rem;
        margin-top: 50%;
    }

    #contacto .subtitulo-contacto{
        font-size: 2rem;
    }

    #contacto .dside-footer{
        margin-top: 30%;
        font-size:  1.5rem;
    }
    
}


/* DESKTOP 1024px */
@media  screen  and (min-width: 64rem) {
    header{
        height: 10vh;
    }

    #cabecera #logo{
        margin-top:0.9%;
        width: 13%;
    }

    .boton-nav{
        width: 3rem;
        height: 3rem;
    }

    .boton-nav i{
        font-size: 3rem;
    }

    #boton1, #boton2{
        top: 90%;
    }

    #home .titulo{
        top: 40%;
    }
    
    .subtitulo1 {
        left: 18%;
        margin-top:6%;
    }

    .titulo	.subtitulo2 {
        right : 18%;
    }

    #portafolio .proyecto {
        width: 20%;
        margin-top:10%;

    }

    #servicios li{
        margin: 10% 1.5%;
    }

    #nosotros .images-equipo{
        width: 15vw;
        height: 20vh;
        margin-left: 5%;
    }

    .images-equipo p {
        font-size: 1.5rem;
    }

    #contacto .titulo-contacto{
        margin-top: 18%;
    }

    #contacto .dside-footer{
        margin-top: 20%;
        font-size:  1.5rem;
    }
}


/* DESKTOP LARGE 1280*/
@media  screen  and (min-width: 80rem) {
    
    #cabecera #logo{
        margin-top:0.9%;
        width: 13%;
    }

    #nosotros .images-equipo{
        width: 15vw;
        height: 20vh;
        margin-left: 5%;
    }

}

/* DESKTOP MEDIUM LARGE 1366*/
@media  screen  and (min-width: 85rem) {
    
    
    #cabecera #logo{
        margin-top:0.9%;
        width: 7.5%;
    }

    #portafolio .proyecto {
        width: 15%;
        margin-top:3%;
    }

    #servicios li{
        margin: 5% 1.5%;
    }

    #nosotros .images-equipo{
        width: 15vw;
        height: 30vh;
        margin-left: 2%;
    }

    #contacto .titulo-contacto{
        margin-top: 15%;
    }

    #contacto .dside-footer{
        margin-top: 8%;
        font-size:  1.5rem;
    }

}


/* DESKTOP EXTRA LARGE 1440*/
@media  screen  and (min-width: 90rem) {
    header{
        height: 9vh;
    }

    #cabecera #logo{
        margin-top:0.4%;
        width: 8.5%;
    }

    #portafolio .proyecto {
        width: 15%;
        margin-top:5%;
    }

    #servicios li{
        margin: 10% 1.5%;
    }

    #nosotros .images-equipo{
        width: 15vw;
        height: 30vh;
        margin-left: 5%;
    }

    .images-equipo p {
        font-size: 2rem;
    }

    #contacto .titulo-contacto{
        margin-top: 18%;
    }

    #contacto .dside-footer{
        margin-top: 7%;
        font-size:  1.5rem;
    }

    

    

    
}
